<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    Edit your TinyUrl
  </title>
</head>
<body>
  <% include ../partials/_header %>

  <h3>
      Short URL: <%= shortURL %> 
  </h3>
  <p>
      Date created: <%= url.dateCreated %> <br>
      Number of visits: <%= url.numberOfVisits %>
  </p>
  
  
  <form method="POST" action="/urls/<%= shortURL%>?_method=PUT">
    <input type="text" value="<%= url.longURL%>" name="updatedLongURL" width="500">
    <input type="submit" value="Update"> 
  </form>

  <% include ../partials/_footer%>
</body>
</html>