<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>URL Index</title>
    <style>
    table, th, td {
      border-bottom: 1px solid grey;
      text-align: left;
    }
    table {
      border-collapse: collapse;
      width: 80%;
    }
    </style>
  </head>
  <body>
    <% include ../partials/_header %>
  
    <h4>URLs in TinyApps
    </h4>

    <table>
      <th>Short URL</th>
      <th>Long URL</th>
      <th>Date Created</th>
      <th>Number of Visits</th>
      <th></th>
      <th></th>
      
    <% for(var item in urls) { %>
    <% if(urls[item].userID === user.id) { %>
      
      <tr>
        <td><a href="/u/<%= item%>">/u/<%= item%></a></td>
        <td><%= urls[item].longURL%></td>
        <td><%= urls[item].dateCreated%></td>
        <td><%= urls[item].numberOfVisits%></td>
        <td>
          <a href="./urls/<%= item%>">Edit</a>
        </td> 
        <td>
            <form method="POST" action="/urls/<%= item%>/delete">
              <input type="submit" value="Delete"> 
            </form>
        </td>
      </tr>
      
    <%  } %>
    <%  }%>
    </table>
    <p>
      <a href="./urls/new">Tiny a new link</a>
    </p>
    <% include ../partials/_footer%>
  </body>
</html>